<html>

<fieldset style="background-color:skyblue;">			
<div style="float:right;"><a href="/login/"><button >login</button></div>
<div style="float:right;"><a href="/logout/"><button >logout</button></div>		
<feildset>
			
			<div id="top"><center><b><h1>PEARL ENTERPRISES</h1></b></center></div><br><br>

		</feildset>
</div>
</fieldset>
			
			<div >
			<feildset>
				<div id="h">
					<div class="container">
						 <nav class="navbar navbar-inverse">
				  		<div class="container-fluid">
				    		<div class="navbar-header">
				      		<a class="navbar-brand" href="home.html">www.pearlenterprises.com</a>
				    		</div>
				    		<ul class="nav navbar-nav">
				      		<li class="active"><a href="home.html">Home</a></li>
				      		<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">products
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
					  	<li><a href="/seafood/">Seafood</a></li>
					  	<li><a href="/spices/">Indian spices</a></li>
					  	<li><a href="/cashews/">Cashews</a></li>
						</ul>
				      		</li>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/page/">about us</a></li></ul>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/login/">enquieries and booking</a></li></ul>
								</div>
								</div>
					</fieldset>



<style>
	body {background-image:url(https://image.shutterstock.com/z/stock-photo-traditional-seafood-paella-in-the-fry-pan-on-black-background-top-view-511188598.jpg)}
</style>
<a href="/buy/"><button style="color:black;background-color:white;width:30%;"><b><h1>BUY</h1></b></button></div><br>
<br><a href="/sell/"><button style="color:black;background-color:white;width:30%;"><b><h1>SELL</h1></b></button></div>
</body>
</html>
</body>
</html>
