<html>

	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<link rel="stylesheet"type="text/css"href="project.css">
		
		  
	</head>
	<style>
		body {background-color:skyblue;}
	</style>

<body>
<feildset>
				<div id="h">
					<div class="container">
						 <nav class="navbar navbar-inverse">
				  		<div class="container-fluid">
				    		<div class="navbar-header">
				      		<a class="navbar-brand" href="/home/">www.pearenterprises.com</a>
				    		</div>
				    		<ul class="nav navbar-nav">
				      		<li class="active"><a href="/home/">Home</a></li>
				      		<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">products
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
					  	<li><a href="/seafood/">seafood</a></li>
					  	<li><a href="/spices/">indian spices</a></li>
					  	<li><a href="/cashews/">cashews</a></li>
						</ul>
				      		</li>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/page/">about us</a></li></ul>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/login/">enquieries and booking</a></li></ul>
								</div>
								</div>
					</feildset>
	






<div style="text-align:center;background-color:black;color:white;"><h1>ABOUT US</h1></div>
	Pearl enterprises was established on july 22 2017.We aim at offering you our best services, namely:
	<ul style="list-style-type:square"><li>Priority to customer preferences.</li><br><br>
<li>Competetive price & timely delivery.</li><br><br>
<li>Right product for the end user.</li><br><br><li> Let it be a cashew , Spices  or seafood,we provide trend updates and suggestions to manage fluctuations.</li><br><br>
<li>Experienced senior experts supervise your valuable orders ,from the stage of processing until the container is sealed.</li><br><br> <li>Documentation & tracking support to facilitate smooth turnaround of transaction.</li><br><br>
<li>Best efforts initiated to minimise problems</li><br><br></ul><hr>


<div><u><b><h2>BASIC INFORMATION</h2></b><br><br></u>
<b><h3>Nature of Business: broking</h3></b><br><br>
	


<b><h3>Year of Establishment:2017</h3></b><br><br>
	
<b><h3>Legal Status of Firm:Sole Proprietorship (Individual)</h3></b><br><br></div>
	

 


</body>
</html>
