<html>
<style>
	body {background-image:url(https://static2.bigstockphoto.com/9/1/2/large1500/219814207.jpg)}
</style>

<body>


<fieldset style="background-color:skyblue;">			
<div style="float:right;"><a href="/login/"><button >login</button></div>
<div style="float:right;"><a href="/logout/"><button >logout</button></div>		
<feildset>
			
			<div id="top"><center><b><h1>PEARL ENTERPRISES</h1></b></center></div><br><br>

		</feildset>
</div>
</fieldset>
			
			<div >
			<feildset>
				<div id="h">
					<div class="container">
						 <nav class="navbar navbar-inverse">
				  		<div class="container-fluid">
				    		<div class="navbar-header">
				      		<a class="navbar-brand" href="home.html">www.pearlenterprises.com</a>
				    		</div>
				    		<ul class="nav navbar-nav">
				      		<li class="active"><a href="home.html">Home</a></li>
				      		<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">products
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
					  	<li><a href="/seafood/">Seafood</a></li>
					  	<li><a href="/spices/">Indian spices</a></li>
					  	<li><a href="/cashews/">Cashews</a></li>
						</ul>
				      		</li>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/page/">about us</a></li></ul>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/login/">enquieries and booking</a></li></ul>
								</div>
								</div>
					</fieldset>



<h1>SPICES</h1><br><br>
<li><b>CASSIA SPLIT</b></li><br>
<li><b>CASSIA BROKEN</b></li><br>
<li><b>CIGARETTE CASSIA</b></li><br>
<li><b>CLOVES MADAGASCAR</b></li><br>
<br><br><div style="text-align:center;"><a href="/login/"><button style="color:black;background-color:pink;" ><b><h1>Buy Now</h1></b></button></div>
</body>
</html>
